html,
body {
    background: #fff;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    /* Dark color */
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

#visualization-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 12.5px 50px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

#information-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 12.5px 50px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

#control-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 25px;

    background: linear-gradient(315deg, #171717, #1c1c1c);
    box-shadow: -11px -11px 22px #151515, 11px 11px 22px #1f1f1f;
}

#chart-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
    gap: 25px;
}

#responses-quantity-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 25px;

    background: linear-gradient(315deg, #171717, #1c1c1c);
    box-shadow: -11px -11px 22px #151515, 11px 11px 22px #1f1f1f;
}

#other-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;

    background-color: rgba(0, 0, 0, 0.5);
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    background: linear-gradient(315deg, #171717, #1c1c1c);
    box-shadow: -11px -11px 22px #151515, 11px 11px 22px #1f1f1f;

    border-radius: 25px;
}

#responses-quantity {
    width: auto;
    height: calc(100% - 10px);
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* Pink */
    background: linear-gradient(315deg, #171717, #1c1c1c);
    box-shadow: -11px -11px 22px #151515, 11px 11px 22px #1f1f1f;
    border: 2px solid rgba(100, 100, 255, 0.1);
    color: #fff;
    font-weight: bolder;
}

#responses-quantity-label {
    font-size: 1.5em;
    font-weight: bolder;
    color: #fff;
}

.chart-container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: 300px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#age-range-label {
    font-size: 1.5em;
    font-weight: bolder;
    color: #fff;
}

.selector {
    outline: none;
    display: flex;
    border: none;
    background: linear-gradient(145deg, #171717, #1c1c1c);
    box-shadow:  5px 5px 10px #0a0a0a,
                 -5px -5px 10px #2a2a2a;
    color: #fff;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

#g-pref {
    min-height: 400px;
}

#table-link {
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bolder;
    color: #fff;
    gap: 5px
}

#table-link > a {
    text-decoration: none;
    /* dark cyberpunk blue */
    color: rgba(100, 100, 255, 0.5);
}

#table-link > a:hover {
    text-decoration: underline;
    /* dark cyberpunk blue */
    color: rgba(100, 100, 255, 1);
}

@media screen and (max-width: 1000px) {
    #visualization-section {
        padding: 15px;
    }

    #information-section {
        padding: 15px;
    }

    #age-range-label {
        font-size: 1em;
    }

    #age-selector {
        font-size: 0.75em;
        width: 100px;
        height: 40px;
    }

    #control-section {
        height: 75px;
    }

    #responses-quantity-section {
        height: 75px;
    }

    #responses-quantity-label {
        font-size: 1em;
    }
    .chart-container-row {
        flex-direction: column;
    }

    .chart-container {
        min-height: 300px;
    }

    .chart {
        height: 100%;
    }

}